

<div ng-controller="footerAltController" class="" ng-init="init()">

	

	<div ng-class="{false: 'visible', true: 'hidden'}[isSuperAdmin]" style="background-color: #737373; color: darkgray">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-12 col-md-6">
					<div class="continer" style="padding: 50px">
						<br><br>
						<img src="media/Footer_Logo.png" class="img-responsive" />
						<br><br>
						Company Information:<br>
						{{message}}

					</div>
					
				</div>	
				<div ng-class="{false: 'hidden', true: ''}[emailSent]" class="col-xs-12 col-md-6">
					<br><br>
					<br>
					<form name="myForm">
					<br><br>

						<input type="text" name="userName" ng-model="userName"		 class="form-control col-xs-10 " id="" placeholder="Full name">
						 
					<br><br><br>
						 					    
						<input type="text" name="contactNum" ng-model="userContactNum"  class="form-control col-xs-10 " id="" placeholder="Phone number">
						 
					<br><br><br>
						 			    
					    <textarea ng-model="userContactMsg"  rows="5" class="form-control col-xs-10 " id="" placeholder="Message"></textarea>
					 
					<br><br><br>
					<br><br><br>
					<br><br>
						<button class="pull-right btn col-xs-5" style="background-color: #101010; color: white; font-size: 22px"  ng-click="contactBtn()">Contact</button>
					</form>
					
					
					<br><br><br>
					<br><br><br>					
					
				</div>	
				
				<div ng-class="{false: '', true: 'hidden'}[emailSent]" class="col-xs-12 col-md-6">
					<div class="continer" style="padding: 50px">
						<br><br>
						
						<h1>Email has been sent.</h1>
						We'll get back to you as soon as we can!				
						<br><br>
						<br><br>
						<br><br>
					</div>
					
				</div>					
				
					
								
									
			</div>
		</div>
	</div>
	

    <!-- SUPERADMIN -->
	<div ng-class="{true: 'visible', false: 'hidden'}[isSuperAdmin]" style="background-color: #737373; color: darkgray">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-12 col-md-12">
					<div class="continer" style="padding: 50px">
						<img src="media/Footer_Logo.png" class="img-responsive" />
					</div>					
				</div>																				
			</div>
		</div>
	</div>
	
</div>
<br>


