
<div ng-controller="statsController" ng-init="init()" >
	<br>
	
	<!-- TOP -->
	<div class="row" style="border-bottom: 1px solid gray">
		
		<!-- LEFT SIDE -->
		<div class="col-xs-12 col-md-5">
			<img ng-src="{{statImage}}" class="img-responsive"/>
			<br>
		</div>
		
		<!-- RIGHT SIDE -->
		<div class="col-xs-12 col-md-7">
			<div class="col-xs-4"  >
				<img src="media/customize/Cust_Facilities.png" class="img-responsive" /><br>
				<h5 ><b>{{hospitalTotal}}</b> Hospitals</h5>
			</div>
			<div class="col-xs-4"  >
				<img src="media/customize/Cust_Departments.png" class="img-responsive" /><br>
				<h5 ><b>{{departmentTotal}}</b> Staff</h5>
			</div>
			<div class="col-xs-4"  >
				<img src="media/customize/Cust_Personnel.png" class="img-responsive" /><br>
				<h5 ><b>{{personalTotal}}</b> Staff</h5>
			</div>	
								

			
		</div>	
	</div>	
	
	
</div>

