.floatWrapper{
	position: fixed; 
	width: 100%;	
}

.absoluteDiv{
	position: absolute;	
}

.absoluteWrapper{
	position: fixed; 
	width: 100%; 
	top: 0px; 
	bottom: 0%;	
}


.templateContainer{
	height: 100%; 
	overflow: auto; 
}

@media (min-width: 768px) { 
	.absoluteWrapper{
		top: 0px;	
	}
}


.overflow-none{
	overflow: hidden;	
}

.active {
    background-color: green;
    color: white;
}
.inactive {
    background-color: red;
    color: white;
}



.loginBtn{
	padding-top: 35px; 
	padding-right: 50px; 
	color: white
}

.centerImg{
	display: block; 
	margin-left: auto; 
	margin-right: auto
}

.text-warning {
    color: red; 
}


.open-collapse{	
	height: 100%
}


.closed-collapse{
	height: 0;
}

.ta 
