

<div ng-controller="landing5Cntrl" class="container">
	

	<div >
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6 col-md-6">
					<br><br><br><br><br>	
					<br><br>				
					<div style="padding-left: 40px">
					<h1>Print Every Report With Ease</h1>
					{{mainCopy}}
					</div>
				</div>	
				<div class="col-xs-6 col-md-6">
				
					<img src="media/Panel5_Img.png" class="img-responsive" />			
									
				</div>	
									
			</div>
		</div>
	</div>
	
 
	
</div>



