


<div ng-controller="landing4Cntrl" class="container">
	

	<div  style="background-image:url('media/Panel4_BG.png'); color: white">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-6 col-md-6">
					<br>
					<img src="media/landing3Img.png" class="img-responsive" />

				</div>	
				<div class="col-xs-6 col-md-6">
					<br><br><br><br><br>	
					<br><br>					
					<div style="text-align: right; padding-right: 40px">
					<h1>Keep Staff Running Smoothly</h1>
					{{mainCopy}}
					</div>					
									
				</div>	
									
			</div>
		</div>
	</div>
	
	



	


    
 
	
</div>



