

<div ng-controller="landing3Cntrl" class="container">
		<br><br>
		<hr>

<br><br>
	<div >
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-12 col-md-6">
					<br><br><br><br>
					<h1>Track Care in Real Time</h1>
					{{mainCopy}}

				</div>	
				<div class="col-xs-12 col-md-6">
					<img src="media/landing3Img.png" class="img-responsive" />				
				</div>	
									
			</div>
			
			
		</div>
	</div>
	
	



	


    
 
	
</div>


