
<div ng-controller="reportC2Controller" >

	
	<div class="row">
		
		<!-- LEFT SIDE -->
		<div class="col-xs-12 col-md-6 text-center" style="border: 1px solid gray; padding: 50px">
			
              
                <h3>TABLEAU HOOKS GO HERE</h3>
                <small>webcomponents/report-c2/report-c2.html</small>
                <br /><br />
                
                <!-- IFRAME GOES HERE -->
                <img src="http://cdnl.tblsft.com/sites/default/files/blog/howard-dresner-wisdom-of-crowds-tableau_1.png" class="img-responsive">
                    

           
		</div>
		
		
		<!-- RIGHT SIDE -->
        <div class="col-xs-12 col-md-6 text-center" style="border: 1px solid gray; padding: 50px">


            <h3>TABLEAU HOOKS GO HERE</h3>
            <small>webcomponents/report-c2/report-c2.html</small>
            <br /><br />

            <!-- IFRAME GOES HERE -->
            <img src="http://cdnsmall.tableausoftware.com/sites/default/files/snippets/679x500_bubblecharts_0.jpg" class="img-responsive">


        </div>
		
			
		
	</div>

	

	
	
</div>



