
<div ng-controller="measureC2Controller" >

	<!-- TOP -->
	<div class="row" style="border-bottom: 1px solid gray">
		

	
	<!-- BOTTOM -->
	<div class="row">
		
		<!-- LEFT SIDE -->
		<div class="col-xs-12 col-md-7">
			<div class="col-xs-10 col-xs-offset-1">
 					 <h1>Insert Content here</h1>			 			
                <small>webcomponents/measure-c2/measure-2c.html</small>
	 					
			</div>
		</div>
		
		
		<!-- RIGHT SIDE -->
		<div class="col-xs-12 col-md-5 text-center hidden-xs" style="border-left: 1px solid gray; padding-bottom: 50px">
			<br><br>
				<img src="media/measure/Meas_MeasureIcon.png" class="img-responsive centerImg" />
				<h2>Measurement</h2>
				<br>
				<div class="col-xs-10 col-xs-offset-1">
					<h5 style="text-align: justify">
						{{measureCopy}}					
					</h5>	
				</div>						
			
		</div>
		
			
		
	</div>

	</div>

	
	
</div>



